.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 17px;
}
.subtitle_2 {
  font-size: 1 rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
.imgtittle {
  width: 5%;
  height: auto;
}
.size {
  width: auto;
  height: 50%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: green;
  font-size: 2rem;
  background-color: black;
}

.cuadrado {
  width: 9%;
  height: auto;
}

.triangulo {
  width: 16%;
  height: auto;
}

.cuadrado1 {
  margin-left: 3rem;
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 0.625rem;
  border: none;
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}
.tittlesfigures {
  font-weight: bold;
}
.mybutton {
  width: 100%;
}

.form-control {
  padding: 1%;
}
